@charset "uft-8";

/* 초기화 */
* {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:  border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* 초기화 끝 */


/* 헤더 영역 */
header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #efefef;
    padding: 0 25px;
    z-index: 10;
}
.menu {
    cursor: pointer;
}
.logo {
    height: 100%;
    margin-left: 43px;
}
.headerR {
    display: flex;
    align-items: center;
}
.gnb {
    margin-right: 50px;
}
.gnb li {
    float: left;
    width: 70px;
    text-align: center;
    font-size: 19px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #4c4d4f;
}
.gnb li a {
    width: 100%;
    height: 100%;
}

/* 헤더 영역 끝 */


/* 바디 영역 */
/* 메인슬라이드 영역 */
.bodyWrap {
    margin-top: 75px;
}
.mainSlide {
    width: 100%;
    height: 800px;
    position: relative;
}
.mainSlide .swiper {
    width: 100%;
    height: 100%;
}
.mainSlide .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-area {
    width: 100%;
    position: absolute;
    bottom: 90px;
    z-index: 2;
    text-align: center;
}
.mainSlide .swiper-pagination-bullet {
    background: #FFFFFF;
    opacity: 1;
    width: 14px;
    height: 14px;
    font-size: 12px;
}
.mainSlide .swiper-pagination-bullet-active {
    background: none;
    font-size: 18px;
}
.swiper-pagination span {
    margin-right: 10px !important;
    color: #FFFFFF;
}
.swiper-pagination span:last-child {
    margin-right: 0 !important;
}
.swiper-pagination span:first-child {
    margin-left: 0 !important;
}
.nonedp {
    display: none;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 120px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-button-prev {
    background: url("../img/mainSlide/vis_prev.png");
    width: 52px;
    height: 100px;
    transform: translate(0, -50%);
    left: 10%;
}
.swiper-button-next {
    background: url("../img/mainSlide/vis_next.png");
    width: 52px;
    height: 100px;
    transform: translate(0, -50%);
    right: 10%;
}

.selectTab {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(6,31,60,0.6);
    height: 80px;
    display: flex;
    justify-content: center;
}
.selectTab ul {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    text-align: center;
}
.selectTab li {
    float: left;
    width: 25%;
    max-width: 350px;
    height: 100%;
    font-size: 24px;
    line-height: 80px;
    color: #FFFFFF;
    transition: 0.5s ease-in-out;
}
.selectTab li:hover {
    background-color: #1080A6;
    transition: 0.5s ease-in-out;
}

/* 메인컨텐츠 영역 */
.mainContents {
    width: 100%;
    padding: 0 35px;
}
.subBanner {
    width: 100%;
    height: 30vw;
    margin-top: 30px;
    background-color: yellow;
}
.program {
    width: 100%;
    height: 50vw;
    max-width: 1400px;
    max-height: 752px;
    margin: 0 auto;
    margin-top: 205px;
    padding: 0 15px;
    background-color: green;
}
.notice {
    width: 100%;
    height: 343px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 120px;
    padding: 0 15px;
    background-color: blue;
}

/* 바디 영역 끝 */


/* 푸터 영역 */
footer {
    width: 100%;
    height: 198px;
    background-color: #191919;
    color:#FFFFFF;
}