@charset "uft-8";

/* 초기화 */
* {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:  border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
body {
    position: relative;
}
/* 초기화 끝 */

/* 본문바로가기 영역 */
.skip a {
    position: absolute;
    background: rgb(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#90000000);
    width: 100%;
    height: 30px;
    text-align: center;
    color: #FFF;
    z-index: 100;
    line-height: 30px;
    top: -30px;
    opacity: 0;
}       

/* 헤더 영역 */
header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #efefef;
    padding: 0 25px;
    z-index: 10;
}
.menu {
    cursor: pointer;
}
.logo {
    height: 100%;
    margin-left: 43px;
}
.headerR {
    display: flex;
    align-items: center;
}
.gnb {
    margin-right: 50px;
}
.gnb li {
    float: left;
    width: 70px;
    text-align: center;
    font-size: 19px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #4c4d4f;
}
.gnb li a {
    width: 100%;
    height: 100%;
}
.navi {
    position: fixed;
    top: 0;
    left: -394px;
    background-color: #FFFFFF;
    width: 394px;
    height: 100%;
    z-index: 23;
    transition: left .3s ease-in-out;
    overflow: scroll;
}
.navi>div {
    height: 70px;
    padding-left: 25px;
    display: flex;
    align-items: center;
}
.navi>div>img {
    cursor: pointer;
}
.navi ul li {
    width: 100%;
    height: 80px;
}
.navi ul li:nth-child(9) {
    border-top: 1px solid #e7e7e7;
    margin-top: 10px;
}
.navi ul li a {
    font-size: 26px;
    font-weight: 500;
    line-height: 80px;
    padding-left: 48px;
    display: flex;
    align-items: center;
}
.navi ul li a.on {
    background-color: #F0F0F0;
    color: #1080A6;
}
.navi ul li a:hover {
    background-color: #F0F0F0;
    color: #1080A6;
}
.navi ul li a img {
    margin-right: 20px;
}
.blueFilter {
    filter: invert(38%) sepia(80%) saturate(486%) hue-rotate(148deg) brightness(95%) contrast(98%);
}
/* 헤더 영역 끝 */


/* 바디 영역 */
/* 메인슬라이드 영역 */
.bodyWrap {
    margin-top: 75px;
}
.mainSlide {
    width: 100%;
    height: 800px;
    position: relative;
}
.mainSlide .swiper, .mainSlide .swiper-slide a {
    width: 100%;
    height: 100%;
}
.mainSlide .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-area {
    width: 100%;
    position: absolute;
    bottom: 90px;
    z-index: 2;
    text-align: center;
}
.mainSlide .swiper-pagination-bullet {
    background: #FFFFFF;
    opacity: 1;
    width: 14px;
    height: 14px;
    font-size: 12px;
}
.mainSlide .swiper-pagination-bullet-active {
    background: none;
    font-size: 18px;
}
.swiper-pagination span {
    margin-right: 10px !important;
    color: #FFFFFF;
}
.swiper-pagination span:last-child {
    margin-right: 0 !important;
}
.swiper-pagination span:first-child {
    margin-left: 0 !important;
}
.nonedp {
    display: none;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 120px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-button-prev {
    background: url("../img/mainSlide/vis_prev.png");
    width: 52px;
    height: 100px;
    transform: translate(0, -50%);
    left: 10%;
}
.swiper-button-next {
    background: url("../img/mainSlide/vis_next.png");
    width: 52px;
    height: 100px;
    transform: translate(0, -50%);
    right: 10%;
}

.selectTab {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(6,31,60,0.6);
    height: 80px;
    display: flex;
    justify-content: center;
}
.selectTab ul {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    text-align: center;
}
.selectTab li {
    float: left;
    width: 25%;
    max-width: 350px;
    height: 100%;
    font-size: 24px;
    line-height: 80px;
    color: #FFFFFF;
    transition: 0.5s ease-in-out;
}
.selectTab li:hover {
    background-color: #1080A6;
    transition: 0.5s ease-in-out;
}


/* 메인컨텐츠 영역 */
.mainContents {
    width: 100%;
    padding: 0 35px;
}
/* 서브배너 영역 */
.subBanner {
    width: 100%;
    height: 30vw;
    margin-top: 30px;
    display: flex;
    position: relative;
}
.subBanner>div {
    position: relative;
    width: 50%;
}
.subBanner>div>a, .subBanner>div>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.subBanner p {
    position: absolute;
    color: #FFFFFF;
    bottom: 0;
    left: 0;
    font-size: 36px;
    margin-bottom: 55px;
    margin-left: 52px;
    font-weight: 100;
    z-index: 3;
}
.subBanner p span {
    font-weight: 700;
}
.subBanner .moreBtn {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(32,89,156,0.8);
    z-index: 2;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.moreBtn img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* 프로그램 영역 */
.program {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 205px;
    padding: 0 15px;
}
.proTitle {
    text-align: center;
    margin-bottom: 70px;
}
.proTitle img {
    width: 100%;
}
.proList {
    display: flex;
    width: 100%;
    position: relative;
}
.proList::before {
    content: '';
    display: block;
    position: absolute;
    width: 84px;
    height: 82px;
    top: -74px;
    right: -10px;
    background: url(../img/program/mascot.png) no-repeat;
    background-size: contain;
    z-index: 5;
}
.listItem {
    width: 25%;
}
.listItem:not(:last-child) {
    margin-right: 20px;
}
.listImg {
    width: 100%;
    overflow: hidden;
}
.listImg img {
    width: 100%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.listImg img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.listTxt {
    margin-top: 35px;
    padding: 0 10px;
}
.listTxt h4 {
    margin-bottom: 15px;
}
.listTxt h4 span {
    margin-bottom: 15px;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 20px;
    padding: 2px 10px;
    background-color: #1080A6;
    width: 70px;
    font-weight: 400;
}
.pTitle {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 500;
}
.pTxt {
    font-size: 14px;
    font-weight: 200;
}



/* 공지사항 영역 */
.notice {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 120px;
    padding: 0 15px;
}
.ntTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}
.ntTitle h1 {
    font-size: 40px;
    border-bottom: 3px solid #000;
    padding-bottom: 5px;
    font-weight: 500;
}
.ntList {
    width: 100%;
}
.ntList li {
    width: 100%;
    height: 86px;
    border-bottom: 1px solid #eeeeee;
}
.ntList li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.35s ease-in-out;
}
.ntList li a:hover {
    background-color: #F5F5F5;
}
.ntList li h4 {
    font-size: 18px;
    font-weight: 400;
}
.ntList li h4 span {
    border: 1px solid #1080A6;
    color: #1080A6;
    margin-right: 14px;
    font-size: 14px;
    border-radius: 15px;
    padding: 2px 15px;
}
.ntList li p {
    font-size: 16px;
    color: #5d5d5d;
}
/* 바디 영역 끝 */


/* 푸터 영역 */
footer {
    width: 100%;
    height: 198px;
    background-color: #191919;
    color:#FFFFFF;
    font-weight: 200;
}
.footerWrap {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.Lfooter {
    width: 55%;
    display: flex;
    justify-content: space-around;
}
.Rfooter {
    width: 45%;
    display: flex;
    justify-content: space-around;
}
.fLogo_T {
    display: none;
    opacity: 0.5;
}
.fText {
    display: flex;
    flex-direction: column;
}
.fText ul, copyright {
    margin-top: 10px;
}
.fText ul li {
    float: left;
}
.fText ul li:not(:last-child) {
    margin-right: 37px;
}
.fEtc ul li  {
    float: left;
}
.SNS {
    display: flex;
    align-items: center;
}
.SNS li:not(:last-child) {
    margin-right: 19px;
}
.SNS li:nth-child(4) {
    margin-right: 16px;
}
.SNS li:first-child {
    margin-right: 22px;
}
.SNS li:last-child {
    height: 45px;
    position: relative;
}
.SNS #siteLink{
    height: 100%;
    width: 168px;
    background-color: #191919;
    border: 1px solid #6d6d6d;
    border-right: none;
    color: #FFF;
    font-weight: 300;
    padding-left: 17px;
    font-size: 16px;
    cursor: pointer;
}
.SNS button {
    width: 56px;
    height: 100%;
    border: 1px solid #566473;
    background: #566473;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    position: absolute;
    cursor: pointer;
}
.agreement {
    margin-top: 15px;
}
.agreement li:not(:last-child) {
    margin-right: 30px;
}
.WA img {
    width: 100px;
}
/* 푸터 영역 끝 */

.topButton {
    position: fixed;
    cursor: pointer;
    bottom: 150px;
    right: 45px;
    z-index: 20;
    display: none;
}
.dimmed {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 21;
}
.ofHidden {
    overflow: hidden;
}

@media screen and (max-width: 1229px) {
    /* footer 태블릿 모드 */
    footer {height: 330px;}
    .footerWrap { flex-wrap: wrap-reverse; }
    .fLogo_T {display: block;}
    .fLogo {display: none;}
    .fLogo_T {width: 100%;}
    .fText {width: 100%;}
    .SNS li:first-child {display: none;}
    .Rfooter { width: 100%; justify-content: space-between; border-bottom: 1px solid #313131; padding: 23px 15px;}
    .Lfooter { width: 100%; flex-direction: column-reverse; padding: 0 15px;}
}

@media screen and (max-width:1024px) {
    /* 1024px 태블릿 모드 */
    .gnb { display: none;}
    .headerR { width: calc( 50% + 104.5px ); justify-content: space-between;}
    .logo {margin-left: 0;}

    .mainSlide{ height: 600px; } 
    .swiper-navi-button {display: none;}
    .selectTab { height: 40px ;}
    .selectTab li {font-size: 16px; line-height: 40px;}
    .mainSlide .swiper-pagination-bullet-active {font-size: 14px;}
    .swiper-button-area {bottom: 55px;}
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {bottom: 80px;}

    .subBanner {margin-top: 15px;}
    .subBanner p {font-size: 18px; margin-bottom: 43px; margin-left: 30px;}

    .proTitle {margin-bottom: 45px;}
    .program { margin-top: 50px; padding: 0;}
    .proList::before { width: 42px; height: 41px; top: -38px; right: -5px;} 
    .proList { flex-wrap: wrap; }
    .listItem { width: calc( 50% - 20px ); flex-grow: 1; }
    .listItem:nth-child(2n) {margin-right: 0;}
    .listItem:nth-child(3), .listItem:nth-child(4) {margin-top: 50px;}
    .listTxt {margin-top: 16px; padding: 0 5px;}
    .listTxt h4 span {font-size: 12px;}
    .pTitle {font-size: 18px; margin-bottom: 10px;}
    .listTxt h4 {margin-bottom: 10px;}

    .notice {margin-top: 75px; padding: 0; }
    .ntList li {height: 56.8px;}
}

@media screen and (max-width:767px) {
    /* 767px 모바일 모드 */
    header { height: 40px ;}
    .headerR { width: calc( 50% + 49px ); }
    .logo img { width: 98px ;}
    .menu img { width: 15px; }

    .bodyWrap { margin-top: 40px;}
    .mainSlide { height: 400px;}

    .navi>div { height: 40px ;}
    .navi>div>img { width: 13px;}
    .navi ul li { height: 49px; }
    .navi ul li a {line-height: 49px; font-size: 14px; padding-left: 20px;}
    .navi ul img { width: 20px;}

    .mainContents { padding: 0 15px; }
    .subBanner { flex-wrap: wrap; height: 120vw; }
    .subBanner>div { width: 100%; }

    .listItem {width: 100%; margin: 0 !important;}
    .proList::before { display: none; }
    .proTitle {margin-bottom: 20px;}
    .listTxt {margin-bottom: 40px;}
    .listTxt h4 {margin-bottom: 4px;}
    .pTitle {margin-bottom: 5px;}
    .pTxt {font-size: 12px;}

    .notice {margin-top: 15px; margin-bottom: 35px;}
    .ntTitle h1 {font-size: 26.5px;}
    .ntTitle img {width: 26px;}
    .ntList li { height: 68.29px ;}
    .ntList li a {flex-wrap: wrap; align-content: center;}
    .ntList li h4 { font-size: 14px; width: 100%; margin-bottom: 5px;} 
    .ntList li h4 span { padding: 2px 5px; font-size: 12px; margin-right: 5px;}
    .ntList li p {font-size: 12px;}

    footer { height: 205px ;}
    .footerWrap { align-content: flex-end;}
    .Rfooter { align-items: center; padding: 15px 15px 13px 15px;}
    .agreement a { font-size: 10px; }
    .fLogo_T img { width: 106px; height: 24px; margin-bottom: 13px;}
    .fText ul, copyright { font-size: 10px;}
    .WA img { width: 44px;}
    .SNS { height: 26px ;}
    .SNS li a, .SNS li a img { height: 100%;}
    .SNS li:nth-child(2) { width: 20px; height: 20px;}
    .SNS li:nth-child(3) { width: 23.5px; height: 16.5px;}
    .SNS li:nth-child(4) { width: 24px; height: 20.5px;}
    .SNS li:last-child { height: 26px;}
    .SNS #siteLink {width: 107.5px; font-size: 11px;}
    .SNS button { width: 39.05px ; font-size: 11px; top: 1.5px;}
    .fText ul, copyright {margin-top: 8px;}
    .fText ul:first-child { margin-top: 0;}
    .fText ul li:not(:last-child) { margin-right: 0;}

    .topButton {width: 40px; height: 40px; right: 15px; bottom: 200px;}
    .topButton img {width: 100%; height: 100%;}
}